<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="style3.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="layout">
    <div class="menu-toggle" id="menuToggle">
        <div class="hamburger">
            <span></span><span></span><span></span>
        </div>
    </div>

    <aside class="sidebar sidebar-hidden" id="sidebar">
        <div class="container">
            <header id="sidebar-header">
                <img class="logo" src="images/pink-logo.jpeg" alt="Libie Logo">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li class="button"><a href="/">Home</a></li>
                        <li class="button"><a href="/search">Search</a></li>
                        <li class="button"><a href="/profile">Profile</a></li>
                        <li class="button"><a href="/about">About Libbie</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </aside>

    <main class="content">
        <!-- Shows message when logging out -->
        <div th:if="${param.logout}" class="alert alert-info" role="alert">
            You have been successfully logged out.
        </div>

        <header class="main-header">
            <div class="logo-container">
                <img class="main-logo" src="images/blue-logo.jpeg" alt="Libbie Logo">
                <h1>Libbie</h1>
            </div>
            <div class="auth-buttons">
                <th:block th:if="${session.currentMember != null}">
                    <a href="/profile" class="button-header">Profile</a>
                    <a href="/logout" class="button-header">Logout</a>
                </th:block>
                <th:block th:unless="${session.currentMember != null}">
                    <a href="/logIn" class="button-header">Login</a>
                    <a href="/signUp" class="button-header">Sign Up</a>
                </th:block>
            </div>
        </header>

        <nav class="genre-nav">
            <ul class="genre-list">
                <li class="genre-item"><a href="/search?query=Fantasy" class="genre-button">Fantasy</a></li>
                <li class="genre-item"><a href="/search?query=Science+Fiction" class="genre-button">Science Fiction</a></li>
                <li class="genre-item"><a href="/search?query=Mystery" class="genre-button">Mystery</a></li>
                <li class="genre-item"><a href="/search?query=Romance" class="genre-button">Romance</a></li>
                <li class="genre-item"><a href="/search?query=Drama" class="genre-button">Drama</a></li>
                <li class="genre-item"><a href="/search?query=Period+drama" class="genre-button">Period drama</a></li>
                <li class="genre-item"><a href="/search?query=Thriller" class="genre-button">Thriller</a></li>
                <li class="genre-item"><a href="/search?query=Horror" class="genre-button">Horror</a></li>
                <li class="genre-item"><a href="/search?query=Detective" class="genre-button">Detective</a></li>
                <li class="genre-item"><a href="/search?query=Biography" class="genre-button">Biography</a></li>
                <li class="genre-item"><a href="/search?query=History" class="genre-button">History</a></li>
                <li class="genre-item"><a href="/search?query=Self-Help" class="genre-button">Self-Help</a></li>
                <li class="genre-item"><a href="/search?query=Poetry" class="genre-button">Poetry</a></li>
            </ul>
        </nav>

        <div class="page-content">
            <h1 id="header">Login</h1>
            <div class="wrapper">

                <!-- Bortkommenterad för att bara använda popup-modalen showError("Message");
                <div th:if="${loginError != null}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
                -->

                <form action="/logIn" method="post" novalidate class="login-form"> <!-- Novalidate använder inte webbläsarens validering-->
                    <div>
                        <label for="logemail-input"><span>@</span></label>
                        <input type="email" name="email" id="logemail-input" placeholder="Email" th:value="${email != null ? email : ''}">
                    </div>
                    <div>
                        <label for="logpassword-input">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
                        </label>
                        <input type="password" name="password" id="logpassword-input" placeholder="Password">
                    </div>
                    <button type="submit">Log In</button>
                </form>
                <!--<form>
                    <div>
                        <label for="logemail-input"><span>@</span></label>
                        <input type="email" name="email" id="logemail-input" placeholder="Email">
                    </div>
                    <div>
                        <label for="logpassword-input">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
                        </label>
                        <input type="password" name="password" id="logpassword-input" placeholder="Password">
                    </div>
                    <button type="submit">Log In</button>
                </form>
                -->
                <p>Don't have an account? <a href="/signUp">Signup</a></p>
            </div>

            <footer>
                <h5>Last Update: 2025-04-03</h5>
            </footer>
        </div>
    </main>
</div>

<!-- JavaScript-koppling -->
<script th:src="@{/script.js}" defer></script>

<!--fragment för felmeddelande-->
<div th:replace="fragments/modal :: errorModal"></div>
<!-- fragment för session-timeout-warning-->
<div th:replace="fragments/modal :: sessionWarningModal"></div>


<!-- Script för felmeddelande, ändra inte -->
<script th:if="${showError}" th:inline="javascript">
    function tryShowError() {
        if (typeof showError === 'function') {
            showError([[${errorMessage}]]);
        } else {
            // Om vi fortfarande inte har showError, försök igen om 100ms
            setTimeout(tryShowError, 100);
        }
    }

    window.addEventListener('load', function() {
        // Starta försöken att visa felmeddelandet
        tryShowError();
    });
</script>

</body>
</html>
