<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/style3.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="layout">
    <div th:replace="fragments/layout :: libbieLayout(~{::pageContent})">
        <div th:fragment="pageContent">
            <div class="page-content">
                <h1 id="header">Login</h1>
                <div class="wrapper">

                    <form action="/logIn" method="post" novalidate class="login-form"> <!-- Novalidate använder inte webbläsarens validering-->
                        <div>
                            <label for="logemail-input"><span>@</span></label>
                            <input type="email" name="email" id="logemail-input" placeholder="Email" th:value="${email != null ? email : ''}">
                        </div>
                        <div>
                            <label for="logpassword-input">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
                            </label>
                            <input type="password" name="password" id="logpassword-input" placeholder="Password">
                        </div>
                        <button type="submit">Log In</button>
                    </form>
                    <p>Don't have an account? <a href="/signUp">Signup</a></p>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- JavaScript-koppling -->
<script th:src="@{/script.js}" src="/script.js" defer></script>

<!--fragment för felmeddelande-->
<div th:replace="fragments/modal :: errorModal"></div>
<!-- fragment för session-timeout-warning-->
<div th:replace="fragments/modal :: sessionWarningModal"></div>


<!-- Script för felmeddelande, ändra inte -->
<script th:if="${showError}" th:inline="javascript">
    function tryShowError() {
        if (typeof showError === 'function') {
            showError([[${errorMessage}]]);
        } else {
            // Om vi fortfarande inte har showError, försök igen om 100ms
            setTimeout(tryShowError, 100);
        }
    }

    window.addEventListener('load', function() {
        // Starta försöken att visa felmeddelandet
        tryShowError();
    });
</script>

</body>
</html>
